*{
    margin: 0;
    padding: 0;
}
.logo
{
    width:80px;
    cursor:pointer;
    align-self: center;

}
.navbar{
    width: 100%;
    height: 13vh;
    margin: auto;
    display: flex;
    align-items:flex-start;
    background-color: beige;
}
nav {
    flex: 1;
    padding-left: 60px;
}
nav ul li{
    
display: inline;
list-style: none;

margin: 0px 15px;
}

nav ul li a{
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    float: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    text-shadow: 5mm;
    align-self: center;

}
.active
{
    background-color: grey;
    color: black;
}
nav ul li a:hover {
    background-color:rgb(235, 217, 60);
        color: black;
  }
body{
    background-color:rgb(235, 204, 106);
}
.content{
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    text-align: center;
}
.bike2{
    width:400; 
    height:300;
       border-radius:10px;
}
.left{
    width: 50%;
    float: center;
}
.right
{
     width: 50%;
        display:table-cell; 
        vertical-align:middle; 
        padding:0 10px;
        float:center;
     text-align: center;
}
.heading1{
    color: #000;;
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
}
.content1{
    font-size: 20px;
    margin-top: 24px;
    margin-bottom: 15px;
    color:#070606;
    right:80%;
    text-align:center;
    font-family: Georgia, 'Times New Roman', Times, serif ,Arial, Helvetica, sans-serif;

}